.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #152238;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: white;
}
.card-title {
  color: white;
}
h1 {
  margin-left: 10px;
}
p {
  margin-left: 10px;
}
.container {
  position: relative;
}
.title-author-div {
  position: absolute;
  bottom: 0;
}
.description {
  margin-top: 10px;
}
